# =========================
# ENV
# =========================
.env

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# JAVA / INTELLIJ
# =========================
api/sales-api/.idea/
*.iws
*.iml
*.ipr
api/sales-api/target/

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# OPTIONAL
# =========================
.vscode/
